.intro {
    font-size: large;
}

@media only screen and (max-width: 970px) {
    .intro {
        margin-top: 20px;
    }
}

.title {
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.subtitle {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}

hr {
    width:50%;
    border: 1px solid white;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
}

.link {
    color: rgb(255, 93, 190);
}

a:hover {
    color: rgb(255, 175, 223);
    text-decoration: none;
}

.section {
    padding-top: 40px;
}

.section-title {
    font-size: 40px;
}

.section-subtitle {
    font-size: large;
}

.publication-text {
    font-size: large;
    color: rgb(176, 176, 176);
}

@media only screen and (max-width: 970px) {
    .publication-text {
        margin-top: 20px;
    }
}

.publication {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.paper-img {
    /* border: 1px solid rgb(255, 93, 190); */
    border: 2px solid rgb(93, 107, 255);
}

@media only screen and (max-width: 970px) {
    .paper-img {
        margin-top: 20px;
    }
}

sup {
    color: rgb(255, 93, 190);
    font-weight: 600;
}

.social-icon {
    color: white;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
}

.social-icon:hover {
    color:rgb(93, 107, 255);
    transition-duration: 500ms;
}

.paper-title {
    color: white;
    font-weight: bold;
}

.talk-text {
    font-size: large
}

.talk-date {
    font-size: large;
    font-style: italic;
    text-align: right;
}

@media only screen and (max-width: 970px) {
    .talk-date {
        font-size: large;
        font-style: italic;
        text-align: left;
    }
}

.talk {
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight {
    text-decoration: underline;
}

.footer {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color:  rgb(22, 22, 22);
}

.menu-item {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    color:rgb(93, 107, 255);
    transition-duration: 500ms;
}

.gallery-item {
    width: 200px;
    padding: 5px;
}

.abstract-extender {
    color:  rgb(255, 93, 190);
    cursor: pointer;
}

.abstract-extender:hover {
    color:  rgb(255, 175, 223);
    cursor: pointer;
}

.abstract-text {
    background-color:  rgb(92, 92, 92);
    padding: 14px;
    display: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
}